@import "../../../styles/includes/main";

.wrapper{
	width: 75%;

    @media all and(max-width: 600px){
        display: none;

        &.selected {
            display: block;
            width: 100%;
        }
    }
}

.gray{
    color: $textLightGray;
}

.noChat{
    @include flex(center, center);

    width: 100%;
    height: 100%;
}
