@import '../../../styles/includes/main';

.wrapper{
    width: 300px;
    max-width: 80%;
}

.info{
    @include flex(center, center, column);

    color: #fff;
    background: transparentize(#000, .4);
    font-size: 1.5rem;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 0;
    transition: .3s all;

    width: 100%;
    height: 100%;

    &.speak{
        opacity: 0;

        &:hover{
            opacity: 1;
        }
    }
}

.call{
    font-weight: normal;
    font-size: 1.2rem;

    margin-top: 5px;
}

.header{
    @extend %header;
    @include flex(space-between);

    width: 100%;
    height: 50px;

    &>h3{
        margin: 0;
    }
}

.video{
    &_wrap{
        width: 100%;
        position: relative;

        border-radius: 50%;
        overflow: hidden;
    }

    &_view{
        width: 100%;
        height: 100%;
    }
}

%control_item{
    padding: .5rem 3rem;
    border-radius: 20px;
    margin: 0 1rem 1rem 0;

    color: #fff;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
    transition: .5s all;
}

.control{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0;

    &_cancel{
        @extend %control_item;
        background: red;

        &:hover{
            background: darken(red, 20%);
        }
    }

    &_accept{
        @extend %control_item;
        background: darken(lightgreen, 20%);

        &:hover{
            background: darken(lightgreen, 40%);
        }
    }

    &_off{
        @extend %control_item;
        background: silver;

        &:hover{
            background: darken(gray, 20%);
        }
    }
}
