@import "../../../styles/includes/main";

.wrapper{
    max-width: 75%;
    max-height: 75%;
    @include flex(center, center, column);
}

.header{
    @extend %header;

    width: 100%;
    @include flex(flex-end);
}

.saveBut{
    @extend %button_text;
}
