@import '../../../styles/includes/main';

.wrapper{
	display: flex;
	height: 90vh;

	background: $bgElem;
}

.cont{
    flex-direction: column;
    height: 100vh;

    @media all and(max-width: 600px) {
        background: #fff;
    }
}
