@import '../../../styles/includes/main';

.list{
    margin: 1rem 0;

    height: 50%;
    min-height: 250px;
}

.user{
    @include flex(flex-start, center);

    padding: .25rem;

    transition: .3s all;
    cursor: pointer;

    &:hover{
        background: transparentize($blue, .9);
    }

    &.active{
        background: $bgBlue;
        color: #fff;

        &:hover{
            background: lighten($bgBlue, 5%);
        }
    }

    &_name{
        margin-left: 5px;
    }
}
