@import '../../../../styles/includes/main';

.wrapper{
	@include flex(flex-start, flex-start, column);

	width: 30%;
    height: 100%;
	padding: 10px 0;

	border-right: 1px solid #ddd;

    @media all and(max-width: $mobileSize){
        display: none;
        overflow: auto;

        &.selected {
            display: block;
            width: 100%;
        }
    }
}

.dialog{
	@include flex(flex-start, center);

	text-decoration: none;
	color: black;
	cursor: pointer;

	user-select: none;

	padding: 10px;

	&.active{
		color: white;
		background: $bgBlue;

		&:hover{
			background: lighten($bgBlue, 5%);
		}
	}

	&.active &_last{
		color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
	}

	&:hover{
		background: transparentize($blue, .9);
	}

	&_header{
		@include flex(space-between, flex-start);

		width: 100%;
	}

    &_overflow{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        position: absolute;
        max-width: 100%;
    }

	&_time{
		font-size: 0.8rem;
        width: 100%;
        max-width: fit-content;
	}

	&_name{
		font-weight: bold;

		margin-bottom: 8px;
        position: relative;
        width: 100%;
	}

	&_last{
        font-weight: normal;
		font-size: .85rem;
		color: $textMuted;

		margin: 0;
        margin-top: 5px;

        position: relative;
        width: 100%;
        height: 20px;
	}

	&_wrap{
		width: 100%;
		padding: 10px 0;

        overflow: auto;
	}

	&_content{
		@include flex(flex-start, flex-start, column);

		width: 100%;
        margin-left: 10px;

		text-decoration: none;
	}

    &_unreaded{
        width: 25px;
        height: 25px;

        padding: 3px;
        margin: 3px auto;

        border-radius: 100%;

        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 21px;

        background: $gray;
    }
}

.form{
	width: 100%;
	padding: 0 10px;
}
