@import '../../../styles/includes/main';

.buttonsRow{
    @include flex(flex-end, center);
    width: 100%;
}

.button{
    @extend %button_text;

    color: lighten($blue, 25%);
    text-transform: uppercase;
    font-size: 1rem;

    margin-left: 10px;

    transition: .3s all;

    &:enabled{
        color: $blue;
    }
}
