@import "../../../styles/includes/main";

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;
}

.wr{
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    max-width: 100%;
    max-height: calc(100% - 50px);
    margin: 0 auto;
}

.header{
    @extend %header;
    @include flex(space-between);

    width: 100%;
    height: 50px;

    &>h3{
        margin: 0;
    }
}
