@import '../../../styles/includes/main';

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80%;
}

.video{
    max-width: 100%;
    max-height: 100%;
}

.header{
    @extend %header;
    @include flex(space-between);

    width: 100%;

    &>h3{
        margin: 0;
    }
}
