//colors
$bg: #e7ebf0;
$bgElem: #fff;
$bgBlue: rgb(86, 130, 163);

$gray: #aaa;
$text: #000;
$textMuted: #aaa;
$textLight: #fff;
$blue: rgb(66, 116, 155);

//styles
$linearBack: linear-gradient(180deg, $bgBlue 0%, $bgBlue 50%, $bg 50%, $bg 100%);
