@import '../../../styles/includes/main';

.wrapper{
    max-width: 400px;

    background: #fff;
}

.header{
    @extend %header;
    @include flex(space-between);

    font-size: 1rem;
}

.content{
    padding: 1rem;

    &>p{
        padding: 0 .2rem;
    }
}

.but{
    @extend %button_text;

    margin-top: .5rem;

    color: $blue;
    font-size: 1rem;
    transition: .3s all;

    &:hover{
        color: darken($blue, 20%);
    }

    &_row{
        @include flex(flex-end);
    }
}
