@import '../../../styles/includes/main';

.avatar{
	border-radius: 50%;
}

.initials{
	@include flex(center, center);

	border-radius: 50%;
	color: #fff;
	background: #af0;

	font: {
		weight: bold;
		size: 1.2rem;
	};
}
