@import '../../../styles/includes/main';

.wrapper{
    position: relative;
    border-radius: 50%;
}

.avatar{
	border-radius: 50%;
}

.delete{
    @include flex(center, center);

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    font: {
        size: 3rem;
        weight: bold;
    }
    color: #fff;

    z-index: 10;
    opacity: 0;
    cursor: pointer;
    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.initials{
	@include flex(center, center);

	border-radius: 50%;
	color: #fff;
	background: #af0;

	font: {
		weight: bold;
		size: 1.2rem;
	};
}
