@import "../../../../styles/includes/main";

.document{
    display: flex;
    align-items: flex-start;

    margin-top: .5rem;

    &_icon{
        font-size: 1.2rem;
        color: $textLight;
        text-align: center;
        line-height: 40px;

        width: 40px;
        height: 40px;
        border-radius: 50%;

        background: $blue;
    }

    &_info{
        margin: 5px;
        font-size: .9rem;
    }

    &_link{
        color: $blue;
    }

    &_size{
        margin-top: 5px;
    }
}
