@import '../../styles/includes/main';

.header{
	@include flex(space-between, center);

	width: 100%;

	background: $bgBlue;
	color: $textLight;
}

.name{
    width: 30%;
    padding: 1rem;
}

.menuElem{
    width: 70%;
    height: 48px;

    &.active{
        transition: .3s all;
        cursor: pointer;

        &:hover{
            background: darken($bgBlue, 10%);
        }
    }
}

.menu{
	position: relative;
    padding: 1rem;
    
	&_list{
		list-style: none;
		opacity: 0;
		display: none;
        background: #fff;

		border: 1px solid $blue;
		width: 200px;
		padding: 0;

		position: absolute;
		right: -1rem;

		color: $blue;
		text-align: left;

		user-select: none;
		transition: .3s opacity;
		box-shadow: 0 0 5px transparentize($blue, .75);

		&.show{
			opacity: 1;
			display: block;
		}
	}

	&_icon{
		cursor: pointer;
	}

	&_link{
        display: flex;

		padding: .75rem 1rem;
		cursor: pointer;

		&>a{
			text-decoration: none;	
			color: inherit;

			cursor: pointer;
		}

        &:hover{
            background: lighten($blue, 50%);
        }

        &>i{
            width: 25%;
        }
	}

	&_divider{
		width: 100%;
		height: 0;
		border-top: 1px solid $blue;
	}
}
