@import "../../../../../styles/includes/main";

.chat{
    display: flex;
    flex-direction: column-reverse;

    height: 100%;
    width: 100%;

    overflow: scroll;
    scroll-snap-type: both;
    scroll-behavior: smooth;

    &_message{
        padding: .5rem 10%;
        position: relative;

        cursor: pointer;
        transition: .3s all;

        &>*{
            font-family: Roboto;
            font-weight: normal;
        }

        &.noHover{
            cursor: initial;
            transition: none;

            &:hover{
                background: none;
            }

            &::before{
                content: none;
            }
        }

        &:hover{
            background: rgba(66, 116, 155, 0.1);

            &::before{
                opacity: 1;
            }
        }

        &::before{
            content: '\f058';
            font-size: 1.5rem;
            color: rgba(66, 116, 155, 0.5);

            display: block;
            position: absolute;
            left: 5%;
            top: 50%;

            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s all;
        }
    }
}

.noMessage{
    @include flex(center, center);

    width: 100%;
    height: 100%;

    color: $textMuted;
}
