@import '../../../styles/includes/main';

.wrapper{
	@include flex(flex-start, flex-start, column);
	width: 30%;
	padding: 10px 0;

	border-right: 1px solid #ddd;
}

.dialog{
	@include flex(flex-start, center);

	text-decoration: none;
	color: black;
	cursor: pointer;

	user-select: none;

	padding: 10px;

	&.active{
		color: white;
		background: $bgBlue;

		&:hover{
			background: lighten($bgBlue, 5%);
		}
	}

	&.active &_last{
		color: white;
	}

	&:hover{
		background: transparentize($blue, .9);
	}

	&_header{
		@include flex(space-between, flex-start);

		width: 100%;
	}

	&_time{
		font-size: 0.8rem;
	}

	&_name{
		font-weight: bold;

		margin-bottom: 8px;
	}

	&_last{
        font-weight: normal;
		font-size: .85rem;
		color: $textMuted;

		margin: 0;
        margin-top: 5px;
	}

	&_wrap{
		width: 100%;
		padding: 10px 0;
	}

	&_content{
		@include flex(flex-start, flex-start, column);

		width: 100%;
        margin-left: 10px;

		text-decoration: none;
	}

    &_unreaded{
        width: 25px;
        height: 25px;

        padding: 3px;
        margin: 3px auto;

        border-radius: 100%;

        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 21px;

        background: $gray;
    }
}

.form{
	width: 100%;
	padding: 0 10px;
}
