@import "../../../styles/includes/main";

.wrapper{
    background: $bgElem;

    max-height: 90vh;
    overflow-y: auto;
}

.header{
    @extend %header;
}

.saveBut{
    @extend %button_text;
    color: $blue;
}
