@import '../../../styles/includes/main';

.audio{
    @include flex(space-between, center);

    @media all and(max-width: 750px){
        flex-direction: column;
    }

    &_control{
        text-align: center;
        color: $gray;
        font-size: .9rem;

        margin-left: 3rem;
    }

    &_icon{
        font-size: 1.2rem;
        color: $textLight;
        text-align: center;
        line-height: 40px;

        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;

        background: $blue;
    }

    &_info{
        margin-left: .5rem;
        height: 100%;

        width: min-content;
        min-width: 90%;
    }

    &_name{
        margin-bottom: 5px;

        color: $blue;
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
    }

    &_line{
        margin-top: 10px;
        width: 200px;
        height: 3px;

        position: relative;

        background: transparentize($blue, .5);

        @media all and (max-width: 440px){
            width: 100px;
        }
    }

    &_ball{
        width: 15px;
        height: 15px;

        position: absolute;
        left: 0;
        top: -7px;
        border-radius: 50%;

        background: $blue;
    }

    &_played{
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        background: $blue;
    }

    &_header{
        @include flex(space-between, flex-start, column);

        font-size: .9rem;
        color: $gray;

        max-width: 90%;

        &.loaded{
            flex-direction: row;
        }
    }
}

.volume{
    position: relative;
    margin-bottom: .5rem;
    padding: 5px;
    //padding: 1.5rem .5rem;

    font-size: 1.3rem;
    font-weight: bold;
    color: $blue;

    &_lineCont{
        @include flex(center, center);

        position: absolute;
        top: -50px;
        left: 3px;
        z-index: 9999;

        width: 100%;
        height: 50px;

        @media all and(max-width: 600px) {
            display: none;
        }
    }

    &_line{
        height: 50px;
        width: 4px;

        background: $bgBlue;
    }

    &_ball{
        width: 14px;
        height: 5px;

        position: absolute;
        top: 0;
        left: calc(1rem + 4px);

        background: $bgBlue;
    }

    &_icon{
        width: 15px;
    }
}
